
body{
    
}

section{
    height: calc(100vh);
    background-image: url(https://www.thetrainline.com/cms/media/1704/compagnie-ferroviarie_italo2_2x.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
}

.contenitore{
    width: 800px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 50px;

}